# ======== Chung ========
PYTHONUNBUFFERED=1
TZ=Asia/Ho_Chi_Minh

# ======== Nguồn dữ liệu Bộ Pháp điển ========
# File ZIP gốc để ingestor tải về & parse
BOPD_ZIP_URL=https://phapdien.moj.gov.vn/TraCuuPhapDien/Files/BoPhapDienDienTu.zip

# Thư mục dữ liệu và index (trong container)
DATA_DIR=/app/data
INDEX_DIR=/app/indexes

# ======== Embedding / Search ========
EMBEDDER_BACKEND=st # Sentence transformers
EMBEDDER_MODEL=AITeamVN/Vietnamese_Embedding

# Tham số tìm kiếm
DEFAULT_ALPHA=0.6
DEFAULT_BETA=0.4

# ======== Redis / Queue ========
REDIS_HOST=redis
REDIS_PORT=6379
RQ_QUEUE=bo_pd_jobs

# ======== Updater schedule ========
REFRESH_URL=http://ingestor:8081/ingest/refresh
HEALTH_URL=http://ingestor:8081/health

# Chạy theo lịch cố định: NGÀY 1 & 16 lúc 03:30
MONTHLY_DAYS=1,16
DAILY_REFRESH_AT=03:30

# REFRESH_EVERY_SECONDS=1296000   # (Optional) nếu muốn chuyển sang chu kỳ 15 ngày

# ======== RAG (trả lời) ========
RAG_BACKEND=ollama
RAG_MODEL=qwen2.5:7b
OLLAMA_HOST=http://ollama:11434

# ======== Cache & downloader ======
HF_HOME=/app/.cache/huggingface
HF_HUB_ENABLE_HF_TRANSFER=0
HF_HUB_DISABLE_TELEMETRY=1
HF_HUB_DISABLE_PROGRESS_BARS=1
# (tùy chọn) tăng timeout
HF_HUB_DOWNLOAD_TIMEOUT=120

